*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Poopins", sans-serif;
}

header{

    background: #333;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-height: 1400px;
    margin: 0 auto;
    padding: 15px 2%;
}

.logo{
    font-size: 1.5rem;
    letter-spacing: 1px;
    color: #fff;
}

.logo span{
    color: #f39c12;
}

.nav-links{
    list-style: none;
    display: flex;
}

.nav-links li{
    margin: 0 15px;
}

.nav-links a{
    color: #fff;
    text-decoration: none;
    letter-spacing: 1px;
    transition: color 0.3s;
}

.nav-links a:hover{
    color: #f39c12;
}

.nav-btn{
    padding: 10px 20px;
    letter-spacing: 1px;
    border: none;
    border-radius: 20px;
    background: #f39c12;
    color: #333;
    cursor: pointer;
    transition: background 0.3s
}

.nav-btn:hover{
    background: #e67e22;
}